absl-py==1.4.0
cached-property==1.5.2
chex==0.1.6
Cython==0.29.33
dm-tree==0.1.8
etils==1.1.1
flax==0.6.7
importlib-resources==5.12.0
jax==0.4.6
jaxlib==0.4.6
markdown-it-py==2.2.0
mdurl==0.1.2
mpi4jax==0.3.14.post1
mpi4py==3.1.4
msgpack==1.0.5
nest-asyncio==1.5.6
numpy==1.24.2
opt-einsum==3.3.0
optax==0.1.4
orbax==0.1.6
Pygments==2.14.0
PyYAML==6.0
rich==13.3.2
scipy==1.10.1
tensorstore==0.1.33
toolz==0.12.0
typing_extensions==4.5.0
zipp==3.15.0
